/*========================
　基本設定
========================*/

/*看板*/
div#tkanban{background:url(./img/tkanbanKoimidori.jpg) #900;}
div#kanban{background:url(./img/kanbanKoimidori.jpg) #900;}


/*文字色*/
*{color:#333;}
input{color:#333;}
#coment dl dt{color:#900;}

#coment h3,
#coment h4,
#coment h5,
#coment h6{
	color:#900;
	border-bottom-color:#ccc;
}

/*背景色*/
div#body,
div#kanban,
div#aside dl{
	background-color: #fff;
}
div#toiawase .formfield,
div#toiawase .formbutton{
	background-color: #fff;
}

/*リンク色*/
a{color:#339;}
a:hover{color:#c00;}

/*パン屑リストの文字色*/
p#panKuz{}

/*文字などの境界線*/
div#aside dl,
div#sita dl dt{
	border-left-color:#999;
}
div#aside dl,
div#sita dl dt,
div#sita dl dd{
	border-right-color:#999;
}
div#aside dl,
div#aside dl dd a{
	border-bottom-color:#999;
}

/*エンボス処理*/
div#ueNabi dl dt a,
div#ueNabi dl dd a,
div#toiawase .formbutton{
	border-top-color:#6c6;
	border-left-color:#6c6;
	border-bottom-color:#030;
	border-right-color:#030;
}
div#ueNabi dl dt a:hover,
div#ueNabi dl dd a:hover,
div#toiawase .formfield{
	border-top-color:#030;
	border-left-color:#030;
	border-bottom-color:#6c6;
	border-right-color:#6c6;
}

/*========================
　個別設定
========================*/

/*ボディー*/
body{
	background:url(./img/bodyBk.gif) repeat-x #dedede;
}

div#atama{
	border-top-color:#060;
}
div#body {
	background-color:#fff;
	border-right-color:#ccdecc;
	border-left-color:#ccdecc;
	border-bottom-color:#060;
}

/*ヘッダー*/
div#atama {	background:url(./img/obiBk.gif) repeat-x 0px -50px #fff;}
div#atama h1,div#atama h1 a{color:#000;}

/*トップナビ*/
div#ueNabi dl{border-bottom-color:#ccc;}

div#ueNabi dl,
div#ueNabi dl dt,
div#ueNabi dl dd{
	background-color:#ccc;
}
div#ueNabi dl dt a,
div#ueNabi dl dd a{
	background-color:#030;
	color:#efdeef;
}
div#ueNabi dl dt a:hover,
div#ueNabi dl dd a:hover{
	background-color:#115511;
}

/*アサイド*/
div#aside dl{;}
div#aside dl a:hover{background-color:#ffefef;}
div#aside dl dt,div#aside dl dt a{color:#fff;}
div#aside dl dt a{background-color:#060;}
div#aside dl dt a:hover{background-color:#393;}
div#aside dl dt a:hover{color:#ffefef;}

/*フッター*/
div#sita dl{
	background:url(./img/obiBk.gif) repeat-x 0px -50px #fff;
	background-color:#ffefef;
	border-top-color:#ccc;
	border-bottom-color:#ccc;
}

/*ニュース*/
div#news{border-bottom-color:#000;}
div#news h2,div#news dl{border-bottom-color:#c00;}
div#news dt{color:#933;}
div#newsSita{border-top-color:#c00;}

div#news h3{background-color:#060;}
div#news h3{color:#fff;}
