div#tkanban{
	background-color:#eeeeee;
	text-align:center;
	width:820px;
	height:200px;
}

div#content div#news{
	width:210px;
	float:left;
}
div#content div#news h2{
	padding:0px 0px 0px 20px;
	font-size:10pt;
	font-weight:bold;
	border-bottom:1px #000 solid;
	margin-bottom:10px;
}
div#content div#news dl{
	margin:0 0 5px 5px;
}
div#content div#news dl dt{
	font-weight:bold;
}
div#content div#news dl dt a{
	margin-left:1em;
}
div#content div#news dl dd{
	display:none;
}

div#news #newsUe{
	margin:20px 0 20px 0;
}

div#news #newsSita{
	margin:20px 0;
	border-top:1px solid #000;
	padding-top:20px;
}

div#content div#coment{
	margin:0px 0px 0px 230px;
	padding:0 10px;
}
